.dropbtn {
    background-color: transparent;
    border: transparent; 
    font-size: large;
    padding: 0;
    cursor: pointer;
}
.dropdown {
    position: absolute;
    display: inline-block;
    top:0;
    right: 0;
}

.dropdown-content {
    display: none;
    text-align: left;
    position: absolute;
    background-color: white;
    border: 1px solid black;
    z-index: 1;
    right:0;
}

.dropdown-content a, p {
    background-color: white;
    margin: 0;
    padding: 1em;
    display: block;
}
.show {display:block;}

.container{
    position: relative;
    text-align: center;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

.header {
    position: relative;
    padding: 1em;
}

.pages {
    position: relative;
}
 #email > img {
     width: 20%;
     margin: 2px;
 }

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .container {
        width: 100%;
    }
    .dropdown {
        position: absolute;
        display: inline-block;
        top: 0;
        right: 0;
    }
    #email > img {
        width: 40%;
        margin: 2px;
    }
}    